{% extends 'base.html.twig' %}

{% block title %}BILEMO - API WEB SERVICE{% endblock %}

{% block body %}
            {#Form#}
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <div class="center-align white-text">
                            <h4>BILEMO</h4>
                            <p>API WEB SERVICE</p>
                        </div>
                    </div>
                    <form action="{{ path('security_connexion')}}" method="post">
                        <input type="text" id="login" class="fadeIn second" placeholder="User Email" name="email">
                        <input type="text" id="password" class="fadeIn third" name="password" placeholder="Password">
                        <input type="submit" class="fadeIn fourth" value="Log In">
                    </form>
                    <div id="formFooter">
                        <div class="center-align white-text">
                            <a href="/api/docs?ui=re_doc" class="btn underlineHover">DOCUMENTATION</a>
                        </div>
                    </div>
                </div>
            </div>
            {% if error %}
                <p class="red-text center-align"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></p>
            {% endif %}
{% endblock %}
{% block javascripts %}
{% endblock %}
